{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
    "emotion": {
      "plugins": [
        [
          "transform-rename-import",
          {
            "original": "^@rebass/components$",
            "replacement": "@rebass/components/emotion"
          }
        ]
      ]
    }
  }
}
