<!DOCTYPE html>
<meta charset='utf-8'>
<title>Grid Styled</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Responsive React grid system built with styled-components'>
<meta name='twitter:card' content='summary'>
<meta name='twitter:site' content='@jxnblk'>
<meta name='twitter:title' content='Grid Styled'>
<meta name='twitter:description' content='Responsive React grid system built with styled-components'>
<meta name='twitter:image' content='http://jxnblk.s3.amazonaws.com/grid-styled.png'>
<link rel='stylesheet' href='https://unpkg.com/type-system@1.0.0-beta.2/type-system.css'>
<style>
* { box-sizing: border-box }

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}

a {
  color: #07c;
  color: inherit;
}
.m0 { margin: 0 }
.pre {
  font-family: 'SF Mono', Menlo, monospace;
  font-size: 14px;
  margin: 0;
}
.prism-code { tab-size: 2 }
</style>
<div id='app'></div>
<!--
<script async src='//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=jxnblkcom' id='_carbonads_js'></script>
-->
