<!DOCTYPE html>
<meta charset='utf-8'>
<title>Grid Styled</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Responsive React grid system built with styled-components'>
<meta name='twitter:card' content='summary'>
<meta name='twitter:site' content='@jxnblk'>
<meta name='twitter:title' content='Grid Styled'>
<meta name='twitter:description' content='Responsive React grid system built with styled-components'>
<meta name='twitter:image' content='http://jxnblk.com/grid-styled/icon.png'>
<link rel='stylesheet' href='https://unpkg.com/type-system@1.0.0-beta.2/type-system.css'>
<style>
* {box-sizing:border-box}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}
a {color:inherit }
.m0 {margin:0}
.pre {
  font-family: 'SF Mono', Menlo, monospace;
  font-size: 14px;
  margin: 0;
}
.prism-code {tab-size:2}
</style>
<div id='app'></div>
<script>
(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-4603832-6", "auto");ga("send", "pageview");
</script>
<script>
window.twttr = (function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0],
t = window.twttr || {};
if (d.getElementById(id)) return t;
js = d.createElement(s);
js.id = id;
js.src = "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);
t._e = [];
t.ready = function(f) {
t._e.push(f);
};
return t;
}(document, "script", "twitter-wjs"));
</script>
